/* these are necessary styles for vue flow */
@import '@vue-flow/core/dist/style.css';

/* this contains the default theme, these are optional styles */
@import '@vue-flow/core/dist/theme-default.css';

::-webkit-scrollbar-thumb {
  background: #e4e0e0;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

html {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
